.hub-item:hover{
  cursor: pointer;
  background: lightgrey;
}

.hub-item em{
  display: none;
}

.hub-item:hover em{
  display: block;
}

i.online {
  color: green;
}

i.offline {
  color: grey;
}

.edit:hover .icon-normal,
.edit .icon-hover {
  display: none;
}

.edit:hover .icon-hover {
  display: inline;
}


