<div class="container">
  <div class="row" style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-md-8 offset-2">
      <div class="input-group">
        <span class="input-group-prepend">
          <select class="form-control" name="search-type" [(ngModel)]="searchType">
            <option>Name</option>
            <option>Mac</option>
          </select>
        </span>
        <input #searchBar (keyup)="updateTerm(searchBar.value)" type="text"
               class="form-control" placeholder="Search sensor hubs...">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->

  <div *ngIf="hubs">
    <div *ngFor="let hub of hubs" class="list-group-item col-md-6 offset-3 hub-item" style="padding: 10px;"
         routerLink="/details/{{hub.id}}">
      <table>
        <tr>
          <td class="align-middle col-md-8">
            <b *ngIf="hub.name">Name: {{hub.name}}</b>
            <div>Mac: {{hub.macAddress}}</div>
            <em>Last measurement: {{hub.lastMeasurement}}</em>
          </td>
          <td class="align-middle col-md-2">
            <em>
              <div class="edit" routerLink="/details/{{hub.id}}/edit">
                <i class="far fa-edit icon-normal"></i>
                <i class="fa fa-edit icon-hover"></i>
              </div>
            </em>
          </td>
          <td class="align-middle col-md-2">
            <span *ngIf="hub.isConnected"><i class="fa fa-signal online"></i></span>
            <span *ngIf="!hub.isConnected"><i class="fa fa-signal offline"></i></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

